@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

body{
    background: rgb(6,5,29);
    background: -moz-linear-gradient(274deg, rgba(6,5,29,1) 0%, rgba(0,0,0,1) 100%, rgba(80,56,184,1) 100%);
    background: -webkit-linear-gradient(274deg, rgba(6,5,29,1) 0%, rgba(0,0,0,1) 100%, rgba(80,56,184,1) 100%);
    background: linear-gradient(274deg, rgba(6,5,29,1) 0%, rgba(0,0,0,1) 100%, rgba(80,56,184,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#06051d",endColorstr="#5038b8",GradientType=1);

}

svg{
    color:white;
}

h1{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
}

h3{
    color: azure;
}

p{
    color: gray
}