@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

body{
    /*background: rgb(2,1,22);
    background: linear-gradient(90deg, rgba(2,1,22,1) 0%, rgba(5,5,14,1) 100%, rgba(10,10,28,1) 100%, rgba(0,212,255,1) 100%);
*/
background-color: black;
}

svg{
    color:white;
}

h1{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
}

h3{
    color: azure;
}

p{
    color: gray
}